[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/openal-soft"]
	path = lib/openal
	url = https://github.com/kcat/openal-soft.git
